<div class="filters-container">
  <div class="filters">
    <div>
      <label for="catID">Catégorie :</label>
      <select id="catID" (change)="onCatIDChange($event)">
        <option *ngFor="let id of categories" [value]="id">{{ id }}</option>
      </select>
    </div>

    <div>
      <label for="fabID">Fabricant :</label>
      <input id="fabID" type="number" [(ngModel)]="fabID" placeholder="Entrer FabID" (change)="onFabIDChange()">
    </div>

    <div>
      <label for="periode">Période :</label>
      <select id="periode" (change)="onPeriodeChange($event)">
        <option value="" selected>Choisir une période</option>
        <option *ngFor="let periode of periodes" [value]="periode.label">{{ periode.label }}</option>
      </select>
    </div>

    <div>
      <label for="dateDebut">Date début :</label>
      <input type="date" id="dateDebut" [(ngModel)]="date_debut" (change)="onDateChange()" [min]="minDate" [max]="maxDate">
    </div>

    <div>
      <label for="dateFin">Date fin :</label>
      <input type="date" id="dateFin" [(ngModel)]="date_fin" (change)="onDateChange()" [min]="minDate" [max]="maxDate">
    </div>
  </div>
</div>
