<h2>Présence du Fabricant dans le Top 10 des Magasins</h2>
<div class="graph-card">
  <!-- ✅ Carte d'affichage de la moyenne -->
  <div class="average-card">
  <p>
    <strong>Score Santé 
      <span [class.high]="average >= 0.5" [class.medium]="average >= 0.2 && average < 0.5" [class.low]="average < 0.2">
        {{ average | number:'1.2-2' }}%
      </span>
    </strong>
  </p>
</div>

  <!-- ✅ Graphique -->
  <div *ngIf="isBrowser" class="chart-container">
    <canvas baseChart
      [data]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [type]="barChartType">
    </canvas>
  </div>
</div>
